@font-face {
    font-family: 'Arial Narrow';
    src: url('../../fonts/ArialNarrow.woff2') format('woff2'),
        url('../../fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow 7';
    src: url('../../fonts/ArialNarrow7.woff2') format('woff2'),
        url('../../fonts/ArialNarrow7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}